.ce-largegallery figure {
    display: block;
    background-color: #363636;
    cursor: pointer;
}

.ce-largegallery__lightbox--background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 500;
}

.ce-largegallery__lightbox--container {
    position: fixed;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    z-index: 501;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.ce-largegallery__lightbox--previous, .ce-largegallery__lightbox--next {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10vw;
    min-width: 3rem;
    max-width: 10rem;
    background: rgba(155, 0, 0, 0.5);
    z-index: 502;
    opacity: 0.3;
    -webkit-transition: opacity ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
}

.ce-largegallery__lightbox--previous svg, .ce-largegallery__lightbox--next svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.ce-largegallery__lightbox--previous svg path, .ce-largegallery__lightbox--next svg path {
    fill: rgba(255, 255, 255, 0.6);
}

html.no-touchevents .ce-largegallery__lightbox--previous:hover, html.no-touchevents .ce-largegallery__lightbox--next:hover {
    opacity: 1;
}

.ce-largegallery__lightbox--previous {
    left: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.ce-largegallery__lightbox--next {
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.ce-largegallery__lightbox--close {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 503;
    cursor: pointer;
}

.ce-largegallery__lightbox--close svg polygon {
    fill: rgba(255, 255, 255, 0.3);
    -webkit-transition: fill ease-in-out 0.3s;
    -o-transition: fill ease-in-out 0.3s;
    transition: fill ease-in-out 0.3s;
}

html.no-touchevents .ce-largegallery__lightbox--close:hover svg polygon {
    fill: rgba(255, 255, 255, 0.8);
}
